/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* fonts */
@font-face {
    font-family: 'norsebold';
    src: url('fonts/webfontkit-20240904-182238/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/webfontkit-20240904-182238/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    --action-green: #596D48;
    --darker-white: #F9FAFB;
    --white: #ffffff;
    --grey: #e5e7eb;
    --dark-blue: #1f2937;
    --blue-active: #1d4ed8;
    --red: #b91c1c;
    --left-padding-content: 3rem;
    font-size: 16px;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-size: 100%;
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


#root, #__next {
    isolation: isolate;
}

.signup-wrapper {
    display: flex;
    height: 100vh;
}

a {
    color: var(--white)
}

.login-link {
    color: var(--action-green);
    text-decoration: none;
    font-weight: 500;
}

.logo-bar {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: fit-content;
    padding: 1em;
    margin-top: 24vh;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 2;

    background-color: cadetblue;
    background-image: url(images/background-leaf-lalie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    background-color: var(--darker-white);
}

.logo-bar {
    margin-bottom: auto;
}

.logo-wrapper {
    display: flex;
    max-width: fit-content;
    margin: auto;
}

.logo-bar .brand-name {
    font-family: 'norsebold', sans-serif;
    font-size: 6em;
    color: var(--white);
}

.logo-bar .logo-image {
    width: 7em;
    height: auto;
    display: inline-block;
    align-self: center;
}

.photo-credits {
    color: var(--white);
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    align-self: center;
    margin-bottom: 1em;
}

.header, .footer {
    width: 85%;
}

.header {
    padding-left: var(--left-padding-content);
}

.header p {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

.form-wrapper {
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 24px var(--left-padding-content) 64px;
    width: 100%;
}

.submit-wrapper {
    padding-left: var(--left-padding-content);
}

.primary-button {
    width: 304px;
    height: 64px;
    color: var(--darker-white);
    background-color: #596D48;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border: 0px;

    font-weight: 600;
    font-size: 1.5em;

    padding: 0;

}

.primary-button:hover {
    cursor: pointer;
}

.footer p {
    font-size: 1.2em;
}

.footer {
    padding-left: var(--left-padding-content);
}

.user-information {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 8px 72px;
    font-size: .9em;
    font-weight: 500;
    justify-content: flex-start;
    color: var(--dark-blue);
    border: 0px;
    padding: 0;
}

.user-information-legend {
    font-size: 2em;
    margin: 0 0 1em;
    padding: 0;
}

.input-field {
    font-size: 1.6em;
    font-weight: 300;
    border-radius: 6px;
    border: 1px solid var(--grey);
    padding-left: 12px;
}


.input-field:active, .input-field:focus {
    border: 1px solid var(--blue-active);
    outline: none;
}

.input-field:focus {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}


.input-field:user-invalid {
    border: 1px solid var(--red);
    outline: none;
}


.optional-text {
    opacity: 0.6;
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 360px;
    min-height: 88px;
}

#password:user-invalid+span::before {
    content: "* Passwords do not match";
    color: var(--red);
}

.form-input-wrapper label {
    letter-spacing: 2px;
}